In [1]:
import pandas as pd

In [7]:
data_file = 'population.csv'

In [8]:
# Read in the file: df1
df1 = pd.read_csv(data_file)

# Create a list of the new column labels: new_labels
new_labels = ['year', 'population']

# Read in the file, specifying the header and names parameters: df2
df2 = pd.read_csv(data_file, header=0, names=new_labels)

# Print both the DataFrames
print(df1)
print(df2)

      1             2
0  1960  3.030000e+09
1  1970  3.680000e+09
2  1980  4.440000e+09
3  1990  5.280000e+09
4  2000  6.120000e+09
5  2010  6.920000e+09
   year    population
0  1960  3.030000e+09
1  1970  3.680000e+09
2  1980  4.440000e+09
3  1990  5.280000e+09
4  2000  6.120000e+09
5  2010  6.920000e+09

Delimiters, headers, and extensions

In [9]:
file_messy = 'filemessy.csv'

In [11]:
# Read the raw file as-is: df1
df1 = pd.read_csv(file_messy)
df1

  These kind of comments are not very useful                                                  are they?
0      Probably should just throw this line away ...
1      name Jan Feb Mar Apr May Jun Jul Aug Sep O...
2      # So that line you just read has all the c...
3      IBM 156.08 160.01 159.81 165.22 172.25 167...
4           name     Jan     Feb     Mar     Apr ...
5      0     IBM  156.08  160.01  159.81  165.22 ...
6      1    MSFT   45.51   43.08   42.13   43.47 ...
7      2  GOOGLE  512.42  537.99  559.72  540.50 ...
8      3   APPLE  110.64  125.43  125.97  127.29 ...

In [ ]:
# Print the output of df1.head()
print(df1.head())

# Read in the file with the correct parameters: df2
df2 = pd.read_csv(file_messy, delimiter=' ', header=3, comment='#')

# Print the output of df2.head()
print(df2.head())

# Save the cleaned up DataFrame to a CSV file without the index
df2.to_csv(file_clean, index=False)

# Save the cleaned up DataFrame to an excel file without the index
df2.to_excel('file_clean.xlsx', index=False)